node_modules
.git
docker/mailserver/mail-data
docker/mailserver/mail-state
docker/mailserver/mail-logs
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
vendor
.phpunit.cache
.DS_Store
